<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Almacén The Lion{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <strong>🦁 Almacén The Lion</strong> |
            <a href="{{ url_for('inicio') }}">Inicio</a> |
            <a href="/producto/Calzado-Deportivo">Ver Calzado</a>
        </nav>
    </header>
    <hr>

    <main>
        {% block content %}{% endblock %}
    </main>

    <hr>
    <footer>
        <p>© 2026 Sistema de Gestión de Calzado - Proyecto Flask</p>
    </footer>
</body>
</html>
